<div class="row domain-selector">
    <div class="col-sm-12" ng-show="state === 'loading'">
        <p><i>Loading...</i></p>
    </div>

    <div class="col-sm-12" ng-show="state === 'loaded'">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="domain-select">Domain:</label>
                <select class="form-control" id="domain-select" ng-model="selectedDomain" ng-options="d for d in domains"></select>
            </div>
            
            <div class="form-group">
                <label for="working-lang-select">Change:</label>
                <select class="form-control" id="working-lang-select" ng-model="selectedLanguage" ng-options="l.code as l.name for l in languages"></select>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-hide="hasSelectedDomain() && hasSelectedLanguage()">
    <div class="col-sm-12">
        <p>Please select <span ng-hide="hasSelectedDomain()">a domain</span><span ng-hide="hasSelectedDomain() || hasSelectedLanguage()"> and </span><span ng-hide="hasSelectedLanguage()">a language to change</span>.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" ui-view></div>
</div>