<div class="panel panel-default string-control">
    <div class="panel-heading">
        <h3 class="panel-title">{{string.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <form role="form" ng-show="workingTranslation !== null">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" ng-model="workingTranslation"></textarea>
                    </div>
                </form>
                <div ng-show="workingTranslation === null">
                    <button class="btn btn-default">Add</button>
                </div>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt ng-repeat-start="(l, t) in otherTranslations">{{l}}</dt>
                    <dd ng-repeat-end>{{t}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>