<div class="panel panel-default string-control">
    <div class="panel-heading">
        <h3 class="panel-title">{{string.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <form role="form" ng-show="workingTranslation !== null" ng-submit="saveTranslation()">
                    <div class="form-group clearfix">
                        <textarea class="form-control" rows="10" ng-model="workingTranslation" ng-disabled="disable"></textarea>
                        <button class="btn btn-default pull-right" ng-disabled="disable" ng-show="isNew">Add</button>
                        <button class="btn btn-default pull-right" ng-disabled="disable" ng-show="!isNew && workingTranslation !== lastSavedTranslation">Save</button>
                        <button class="btn btn-default pull-right spaced-right" 
                                type="button" 
                                ng-disabled="disable" 
                                ng-show="workingTranslation !== lastSavedTranslation" 
                                ng-click="cancelChange()">Cancel</button>
                    </div>
                    <div class="alert alert-danger" ng-show="errorMessage"><p>{{errorMessage}}</p></div>
                </form>
                <div ng-show="workingTranslation === null">
                    <p class="text-muted"><i>No translation</i></p>
                    <button class="btn btn-default pull-right" ng-click="addNew()">Add</button>
                </div>
            </div>
            <div class="col-sm-6">
                <dl>
                    <dt ng-repeat-start="(l, t) in otherTranslations">{{l}}</dt>
                    <dd ng-repeat-end>{{t}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>